.main-content {
    margin-left: 250px;
    padding: 30px;
}

.header h1 {
    font-size: 30px;
    margin: 0;
}

.cards-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.cards-row h2 {
    font-size: 25px;
    text-align: left;
}

.form-recolha {
    width: 87%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    background-color: #fcf7dc;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.form-recolha input{
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 350px;
    height: 24px;
}
.form-recolha select {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 370px;
    height: 45px;
}

.botao-solicitar {
    background-color: #f2e282;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.botao-solicitar:hover {
    background-color: #e3d46a;
}

.linha-form {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.linha-form select,
.linha-form input {
    flex: 1;
    min-width: 250px;
    max-width: 400px;
}

.textarea-observacoes {
    width: 1000px;
    min-height: 80px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: vertical;
}

.input-com-sufixo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.input-com-sufixo input {
    width: 100px;
    padding: 5px;
}

.input-com-sufixo .sufixo {
    font-weight: bold;
    margin-left: 4px;
}

